@model Infinia.Core.ViewModels.Transaction.TransactionBetweenMyAccountsViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Между мои сметки - Infinia</title>
    <!-- Bootstrap -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Навигационен бар -->
    <nav class="navbar navbar-expand-lg main-nav">
        <a class="navbar-brand logo" asp-controller="Home" asp-action="Index">Infinia</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <!-- Dropdown за "Средства" -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="fundsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Средства
                    </a>
                    <div class="dropdown-menu" aria-labelledby="fundsDropdown">
                        <a class="dropdown-item" asp-controller="Account" asp-action="Index">Проверка на сметки</a>
                    </div>
                </li>
                <!-- Dropdown за "Кредити" -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="loansDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Кредити
                    </a>
                    <div class="dropdown-menu" aria-labelledby="loansDropdown">
                        <a class="dropdown-item" asp-controller="Loan" asp-action="CurrentLoans">Моите кредити</a>
                        <a class="dropdown-item" asp-controller="Loan" asp-action="ChooseLoanType">Заявка за кредит</a>
                        <a class="dropdown-item" asp-controller="Loan" asp-action="LoanApplicationHistory">История на заявките за кредити</a>
                    </div>
                </li>
                <!-- Dropdown за "Преводи" -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="transfersDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Преводи
                    </a>
                    <div class="dropdown-menu" aria-labelledby="transfersDropdown">
                        <a class="dropdown-item" asp-controller="Transaction" asp-action="Index">Нов превод</a>
                    </div>
                </li>
                <!-- Dropdown за "Настройки" -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="settingsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Настройки
                    </a>
                    <div class="dropdown-menu" aria-labelledby="settingsDropdown">
                        <a class="dropdown-item" asp-controller="Profile" asp-action="ProfileDetails">Общи</a>
                        <a class="dropdown-item" asp-controller="Profile" asp-action="ChangeUsername">Потребителско име</a>
                        <a class="dropdown-item" asp-controller="Profile" asp-action="ChangePassword">Парола</a>
                        <a class="dropdown-item" asp-controller="Profile" asp-action="Logout">Логаут</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container transfer-form-container mt-5">
        <h2 class="text-center">Създай нов превод между мои сметки</h2>
        <form asp-action="MakeTransactionBetweenMyAccounts" asp-controller="Transaction" method="post">
            <div class="form-group">
                <label asp-for="AccountIdFromWhichWeWantToSendMoney">От сметка:</label>
                <select asp-for="AccountIdFromWhichWeWantToSendMoney" class="form-control" required>
                    <option value="">Изберете сметка, от която да пратите пари..</option>
                    @foreach (var account in Model.AvailableAccounts)
                    {
                        <option value="@account.AccountId">@account.Name - @account.IBAN</option>
                    }
                </select>
                <span asp-validation-for="AccountIdFromWhichWeWantToSendMoney" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccountIdFromWhichWeWantToReceiveMoney">Към сметка:</label>
                <select asp-for="AccountIdFromWhichWeWantToReceiveMoney" class="form-control" required>
                    <option value="">Изберете сметка, по която да получите пари:</option>
                    @foreach (var account in Model.AvailableAccounts)
                    {
                        <option value="@account.AccountId">@account.Name - @account.IBAN</option>
                    }
                </select>
                <span asp-validation-for="AccountIdFromWhichWeWantToReceiveMoney" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount">Сума:</label>
                <input type="number" asp-for="Amount" class="form-control" placeholder="Въведете сума.." required>
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description">Описание:</label>
                <input type="text" asp-for="Description" class="form-control" placeholder="Въведете описаниe (по желание)..">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reason">Основание:</label>
                <input type="text" asp-for="Reason" class="form-control" placeholder="Въведете основание.." required>
                <span asp-validation-for="Reason" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Изпрати превод</button>
        </form>
    </div>

    <!-- Bootstrap JS и jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
@section Scripts
 {
    <partial name="_ValidationScriptsPartial" />
}